

<section class="banner">
  <div class="ann-bar">
    <div class="custom-page-width">
      <div class="ann-bar-content">
        <h3 class="logo-text">{{ section.settings.logo_text }}</h3>
        <p class="slogan-text">{{ section.settings.slogan_text }}</p>
        <a href="#" class="bar-button custom-button">
          {{ section.settings.bar_button_text }}
          <img src="https://cdn.shopify.com/s/files/1/0616/3801/7089/files/black_arrow.png?v=1725297871">
        </a>
      </div>
    </div>
  </div>
  <div class="main-banner">
    <div class="banner-container">
      <img src="https://cdn.shopify.com/s/files/1/0616/3801/7089/files/main-banner.png?v=1725297871" class="banner-image desktop-banner">
      <img src="" class="banner-image mobile-banner">
    </div>

    <div class="banner-content">
      <div class="banner-title"><h2>{{ section.settings.banner-title }}</h2></div>
      <div class="banner-text"><p>{{ section.settings.banner_text }}</p></div>
      <div class="banner-button">
        <a href="#" class="custom-button content-button">
          {{ section.settings.banner_button_text }}
          <img src="https://cdn.shopify.com/s/files/1/0616/3801/7089/files/white_arrow.png?v=1725297870">
        </a>
      </div>
    </div>
  </div>

  <div class="banner-bottom custom-page-width">
    <p>{{ section.settings.banner-bottom }}</p>
  </div>
</section>



<style>
  @import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&display=swap');
  * {
    font-family: "Jost", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Remove default content */
  .announcement-bar-section, .section-header, .footer {
    display: none;
  }

  /* Default View Styles */
  body {
    color: #000000;
    font-size: 16px;
  }
  img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .custom-page-width {
    max-width: 1360px;
    margin: 0 auto;
  }
  @media(max-width: 1360px) {
    .custom-page-width {
      padding-right: 20px;
      padding-left: 20px;
  }
  }

  /* Bar Styles */
  .ann-bar {
    background: #F5F5F5;
  }
  .ann-bar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  .logo-text {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .custom-button {
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 35px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: max-content;
    cursor: pointer;
  }
  .custom-button img {
    width: 24px;
  }
  .bar-button {
    background: #FFF544;
    color: #000;
  }

  /* Banner Image and Content Styles */
  .banner-title {
    margin-bottom: 30px;
  }
  .banner-title h2 {
    font-size: 64px;
    font-weight: bold;
  }
  
</style>


{% schema %}
  {
    "name": "Banner",
    "settings": [
      {
        "type": "text",
        "id": "logo_text",
        "label": "Logo Text"
      },
      {
        "type": "text",
        "id": "slogan_text",
        "label": "Bar Slogan Text"
      },
      {
        "type": "text",
        "id": "bar_button_text",
        "label": "Bar Button Text"
      },
      {
        "type": "text",
        "id": "banner-title",
        "label": "Banner Title"
      },
      {
        "type": "text",
        "id": "banner_text",
        "label": "Banner Content"
      },
      {
        "type": "text",
        "id": "banner_button_text",
        "label": "Banner Button Text"
      },
      {
        "type": "text",
        "id": "banner-bottom",
        "label": "Banner Footer Text"
      }
    ]
  }
{% endschema %}