

<section class="banner">
  <div class="ann-bar">
    <div class="bread-crumb">
      <img src="https://cdn.shopify.com/s/files/1/0616/3801/7089/files/bread-crumb.png?v=1725297871" id="bread-crumb">
      <img src="https://cdn.shopify.com/s/files/1/0616/3801/7089/files/side-cross.png?v=1725297871" id="close-crumb">
    </div>
    <div class="custom-page-width">
      <div class="ann-bar-content">
        <h3 class="logo-text">{{ section.settings.logo_text }}</h3>
        <p class="slogan-text">{{ section.settings.slogan_text }}</p>
        <a href="#" class="bar-button custom-button">
          {{ section.settings.bar_button_text }}
          <img src="https://cdn.shopify.com/s/files/1/0616/3801/7089/files/black_arrow.png?v=1725297871" class="black-arrow">
          <img src="https://cdn.shopify.com/s/files/1/0616/3801/7089/files/white_arrow.png?v=1725297870" class="white-arrow">
        </a>
      </div>
    </div>
  </div>
  <div class="mobile-sidebar">
    <p class="slogan-text-mobile">{{ section.settings.slogan_text }}</p>
    <a href="#" class="bar-button-mobile custom-button">
      {{ section.settings.bar_button_text }}
      <img src="https://cdn.shopify.com/s/files/1/0616/3801/7089/files/black_arrow.png?v=1725297871">
    </a>
  </div>
  
  <div class="main-banner">
    <div class="banner-container">
      <img src="https://cdn.shopify.com/s/files/1/0616/3801/7089/files/main-banner.png?v=1725297871" class="banner-image desktop-banner">
      <img src="https://cdn.shopify.com/s/files/1/0616/3801/7089/files/mobile-banner-updated.png?v=1725297871" class="banner-image mobile-banner">
    </div>

    <div class="banner-content">
      <div class="banner-title"><h2>{{ section.settings.banner-title }}</h2></div>
      <div class="banner-text">
        <p class="deskop-content">{{ section.settings.banner_text }}</p>
        <p class="mobile-content">{{ section.settings.banner_text_mobile }}</p>
      </div>
      <div class="banner-button">
        <a href="#" class="custom-button content-button">
          {{ section.settings.banner_button_text }}
          <img src="https://cdn.shopify.com/s/files/1/0616/3801/7089/files/black_arrow.png?v=1725297871" class="black-arrow">
          <img src="https://cdn.shopify.com/s/files/1/0616/3801/7089/files/white_arrow.png?v=1725297870" class="white-arrow">
        </a>
      </div>
    </div>
  </div>

  <div class="banner-bottom custom-page-width">
    <p>{{ section.settings.banner-bottom }}</p>
  </div>
</section>



<style>
  @import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&display=swap');
  * {
    font-family: "Jost", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Remove default content */
  .announcement-bar-section, .section-header, .footer {
    display: none;
  }

  /* Default View Styles */
  body {
    color: #000000;
    font-size: 16px;
  }
  img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .custom-page-width {
    max-width: 1360px;
    margin: 0 auto;
  }
  @media(max-width: 1360px) {
    .custom-page-width {
      padding-right: 20px;
      padding-left: 20px;
  }
  }

  /* Bar Styles */
  .ann-bar {
    background: #F5F5F5;
  }
  .ann-bar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  .logo-text {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .custom-button {
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 35px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: max-content;
    cursor: pointer;
    position: relative;
  }
  .custom-button img {
    width: 24px;
  }
  .bar-button {
    background: #FFF544;
    color: #000;
  }
  #close-crumb {
    display: none;
  }
  

  
  /* Banner Image and Content Styles */
  .main-banner {
    position: relative;
  }
  .banner-title {
    margin-bottom: 30px;
  }
  .banner-title h2 {
    font-size: 64px;
    font-weight: bold;
  }
  .banner-text p {
    max-width: 40ch;
    font-size: 20px;
    text-align: justify;
}
  .banner-button {
    margin-top: 25px;
  }
  .content-button {
    background: #000;
    color: #fff;
  }
  .banner-content {
    position: absolute;
    left: 30px;
    bottom: 50px;
    padding: 35px;
  }
  .banner-bottom {
    background: #f5f5f5;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
  }
  .mobile-banner {
    display: none;
  }

  /* Buttons Animation */
  .custom-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: 0.5s ease-in-out;
  }
  .custom-button:hover::after {
    width: 100%;
    z-index: -1;
  }
  .bar-button::after {
    background: #000;
  }
  .bar-button:hover {
    color: #fff;
    z-index: 1;
  }
  .content-button::after {
    background: #FFF544;
  }
  .content-button:hover {
    color: #000;
    z-index: 1;
  }
  .content-button .black-arrow, .bar-button .white-arrow {
    display: none;
  }
  .content-button:hover .white-arrow, .bar-button:hover .black-arrow {
    display: none;
  }
  .content-button:hover .black-arrow, .bar-button:hover .white-arrow {
    display: block;
  }


  /* Breakpoints */
  @media(max-width: 1300px) {
    .banner-content {
      left: 15px;
      bottom: 20px;
      padding: 20px;
    }
    .banner-title h2 {
      font-size: 52px;
    }
    .banner-text p {
      font-size: 16px;
    }
  }

   @media(max-width: 1025px) {
    .banner-content {
      bottom: 0px;
      padding: 10px;
    }
    .banner-title h2 {
      font-size: 36px;
    }
     .banner-title {
    margin-bottom: 20px;
  }
    .banner-text p {
      max-width: 32ch;
    line-height: 1.2;
    }
  }

  /* Mobile view breakpoint */
  @media(max-width: 768px) {
    .bar-button, .slogan-text, .desktop-banner {
      display: none;
    }
    .banner-content {
      position: unset;
      padding: 30px;
    }
    .ann-bar-content {
      justify-content: center;
    }

    /* banner */
    .main-banner {
      display: flex;
      flex-direction: column-reverse;
    }
    .mobile-banner, .banner-text .mobile-content {
      display: block;
    }
    .banner-title, .banner-text p, .banner-button  {
      text-align: center;
    }
    .banner-title h2 {
      font-size: 30px;
      font-weight: 500;
    }
    .banner-text .deskop-content {
      display: none;
    }
    .banner-text p {
      max-width: 100%;
    }
    .banner-button {
      position: absolute;
      bottom: 25px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .custom-button {
      padding: 5px 15px;
    }
    
    /* mobile sidebar */
    .ann-bar {
      position: relative;
    }
    .bread-crumb {
      width: 15px;
      position: absolute;
      left: 25px;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .mobile-sidebar {
      position: fixed;
      padding: 20px 0;
      background: #f5f5f5;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      transform: translateX(-100%);
      z-index: -1;
      opacity: 0;
      transition: tranform 0.4s ease, opacity 0.4s ease, z-index 0s 0.4s;
    }
    .mobile-sidebar.active {
      transform: translateX(0);
      z-index: 1;
      opacity: 1;
      position: unset;
      transition: tranform 0.4s ease, opacity 0.4s ease, z-index 0s;
    } 
  }
  
  
  
</style>


{% schema %}
  {
    "name": "Banner",
    "settings": [
      {
        "type": "text",
        "id": "logo_text",
        "label": "Logo Text"
      },
      {
        "type": "text",
        "id": "slogan_text",
        "label": "Bar Slogan Text"
      },
      {
        "type": "text",
        "id": "bar_button_text",
        "label": "Bar Button Text"
      },
      {
        "type": "text",
        "id": "banner-title",
        "label": "Banner Title"
      },
      {
        "type": "text",
        "id": "banner_text",
        "label": "Banner Content"
      },
      {
        "type": "text",
        "id": "banner_text_mobile",
        "label": "Banner Content Mobile"
      },
      {
        "type": "text",
        "id": "banner_button_text",
        "label": "Banner Button Text"
      },
      {
        "type": "text",
        "id": "banner-bottom",
        "label": "Banner Footer Text"
      }
    ]
  }
{% endschema %}