<section class="products-grid">
  <div class="custom-page-width">
    <h2 class="products-grid-title">
      {{ section.settings.title }}
    </h2>

    <div class="products-list-grid">
      {% for product in section.settings.products %}
          <div class="product-container">
            <img src={{ product.media.first | img_url: 'master' }}>
            <div class="product-button"><img src="https://cdn.shopify.com/s/files/1/0616/3801/7089/files/product-button.png?v=1725297871"></div>
            
            <div class="product-detail product-popup">
              <div class="popup-close"><img src="https://cdn.shopify.com/s/files/1/0616/3801/7089/files/side-cross.png?v=1725297871"></div>
              <div class="product-info">
                
                <div class="product-media">
                  <img src={{ product.media.first | img_url: 'master' }}>
                </div>

                <div class="product-content">
                  <h3 class="product-title">{{ product.title }}</h3>
                  <p class="product-price">{{ product.price | money }}</p>
                  <div class="product-des">{{ product.description }}</div>
                </div>
              </div>
              <div class="product-form">
                <form method="post" action="/cart/add" class="product-form-single" id="product-form" data-product-id={{ product.id }}>
                  {% for option in product.options_with_values %}
                    {% if option.name == "Color" %}
                      <div class="color-picker input-set">
                        <label>{{ option.name }}</label>
                        <div class="color-options input-options">
                          {% for value in option.values %}
                            <input type="radio" id="{{ value }}-{{ product.id }}" value ="{{ value }}" name="{{ option.name }}">
                            <label class="radio-label-{{ forloop.index }}" for="{{ value }}-{{ product.id }}">
                              <span style="background-color: {{ value }}"></span> {{ value }}
                            </label>
                          {% endfor %}
                        </div>
                      </div>
                      {% elsif  option.name == "Size"%}
                          <div class="size-picker input-set">
                    <label for="{{ option_name }}-{{ product.id }}">{{ option.name }}</label>
                    <div class="size-options input-options custom-select-wrapper">
                      <select id="{{ option_name }}-{{ product.id }}" name="{{ option.name }}">
                        <option value="">Select {{ option.name }}</option>
                        {% for value in option.values %}
                          <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>
                            {{ value }}
                          </option>
                        {% endfor %}
                      </select>
                      <div class="select-styled">{{ option.selected_value | default: 'Select ' | append: option.name }}</div>
                      <ul class="select-options">
                        <li rel="">Select {{ option.name }}</li>
                        {% for value in option.values %}
                          <li rel="{{ value | escape }}">{{ value }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                      {% endif %}
                  {% endfor %}

                  <!-- Add to Cart and hidden value input -->
                  <input type="hidden" name="id" id="product-{{ product.id }}" value={{ product.selected_or_first_available_variant.id }} >
                  <button type="submit" class="cart-button custom-button" name="add" >
                    Add to cart
                    <img src="https://cdn.shopify.com/s/files/1/0616/3801/7089/files/white_arrow.png?v=1725297870" class="white-arrow">
                  </button>
                </form>
              </div>
            </div>
            <div class="popup-overlay"></div>
          </div>
        {% endfor %}
    </div>
  </div>
  <div id="cart-msg"></div>
</section>

<script src={{ 'products-grid.js' | asset_url }} defer="defer"></script>



<!-- Passing Products Data to our Javascript -->
<script id="products" type="application/json">
  {{ section.settings.products | json }}
</script>

 
<style>
  @import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');
  
  /* Products Gird */

    .products-grid {
      margin: 30px 0;
    }
    .products-grid-title {
      margin-bottom: 30px;
      font-family: "Lustria", serif;
      font-weight: 400;
    }
   .products-list-grid {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     gap: 12px;
   }
  .product-container {
    position: relative;
  }
  .product-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  /* Popup Styling */
  .product-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 101;
    padding: 20px;
    display: none;
  }
  .product-container.active .product-popup, .product-container.active .popup-overlay{
    display: block;
  }
  .product-info {
    display: grid;
    grid-template-columns: 45% 1fr;
    align-items: start;
    gap: 15px;
  }
  .popup-close {
    display: flex;
    justify-content: end;
  }
  .popup-close img {
    width: 12px;
    cursor: pointer;
  } 
  .product-media img {
    height: 180px;
    object-fit: cover;
  }
  .product-title {
    font-size: 16px;
    margin-bottom: 20px;
    font-family: "Jost", sans-serif;
  }
  .product-price {
    font-family: "Lustria", serif;
    font-size: 16px;
    margin-bottom: 15px;
  }
  .product-des p {
    font-family: "Jost", sans-serif;
    max-width: 24ch;
    font-size: 14px;
  }
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
  }

  /* Product Popup Form */
  .input-set {
    margin-bottom: 15px;
  }
  .size-options select {
    width: 100%;
    padding: 10px 0;
  }
  .color-options.input-options {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .color-options label {
    border: 1px solid #000;
    width: 50%;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    color: #000;
  }
  input[type="radio"] {
    display: none;
}
  
  /* Radio inputs Floating Animation */
  input[type="radio"]:checked + label {
    color: #fff;
  }
  .color-options label::after {
    position: absolute;
    content: "";
    background: #000;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    transition: 0.4s ease-in-out;
  }
  .color-options .radio-label-1::after {
    right: -100%;
  }
  .color-options .radio-label-2::after {
    left: -100%;
  }
  input[type="radio"]:checked + .radio-label-1::after {
    right: 0;
  }
  input[type="radio"]:checked + .radio-label-2::after {
    left: 0;
  }
  input[type="radio"]:not(:checked) + label::after {
    overflow: hidden;
    opacity: 0;
  }

  /* Radio Button Dynamic Option Color */
  .color-options label span {
    position: absolute;
    content: "";
    width: 4px;
    height: 100%;
    left: 0;
    top: 0;
  }
  .cart-button {
    background: #000;
    color: #fff;
    border: 0;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
  }

  /* Custom Select Button */
  .custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
  }
  .custom-select-wrapper select {
    display: none;
}
  .select-styled {
    position: relative;
    background-color: #fff;
    color: #333;
    padding: 8px 15px;
    border: 1px solid #000;
    cursor: pointer;
}
  .select-styled::after {
    content: url('https://cdn.shopify.com/s/files/1/0616/3801/7089/files/open-close.png?v=1725297871');
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%, -50%);
  }
  .select-styled.active::after {
    top: unset;
    transform: rotate(180deg);
    right: 15px;
  }
  .select-styled::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    border: 1px solid #000;
    right: 50px;
    top: 0;
  }
  .select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fff;
    border: 1px solid #000;
    border-top: 0;
  }
  ul.select-options li {
    margin: 0;
    padding: 8px 15px;
    cursor: pointer;
}

  /* Cart Message */
  #cart-msg {
    position: fixed;
    top: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000000;
    color: #fff;
    padding: 5px 10px;
    z-index: 102;
    opacity: 0;
    font-size: 18px;
    text-align: center;
  }
  
  /* Mobile View Breakpoint */
  @media(max-width: 768px) {
    .products-list-grid {
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
    .product-popup {
      width: 300px;
      padding: 12px;
    }
    .product-price {
      margin-bottom: 0;
      font-size: 14px;
    }
    .product-title {
      margin-bottom: 5px;
      font-size: 14px;
    }
    .product-des p {
      font-size: 12px;
    }
    .product-form {
      font-size: 14px;
    }
    .cart-button {
      font-size: 14px;
      margin-top: 15px;
    }
    .product-button img {
      width: 15px;
    }
    #cart-msg {
      width: 85%;
      font-size: 10px;
      top: 15px;
    }
    
  }

  
  
  
  
</style>



{% schema %}
  {
    "name": "Products Grid",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title"
      },
      {
        "type": "product_list",
        "id": "products",
        "label": "Products List",
        "limit": 6
      }
    ]
  }
{% endschema %}